<h2> Post Details </h2>
<h3> <%= martialartDetails.name %> </h3>
<p> Title
  <%= martialartDetails.title %>
</p>
<p>
  <%= martialartDetails.description %>
</p>
<img src="<%= martialartDetails.image %>">
<br>

<%  if (currentUser._id.toString() === martialartDetails.creator.toString()) { %>
  <a href="/martialarts/<%= martialartDetails._id %>/edit">
  Edit this Post
</a>
  <% }%>

    <%  if (currentUser._id.toString() === martialartDetails.creator.toString()) { %>
      <form action="/martialarts/<%= martialartDetails._id %>/delete" method="post">
        <button>
     Delete Post
 </button>
      </form>
      <% } %>

        <h3> Comments </h3>

        <a href="/martialarts/<%= martialartDetails._id %>/comments/new">
  Write a comment
</a>

        <ul>
          <% listOfComments.forEach((oneComment) => { %>
            <li>
              <p>
                <h4>  <%= oneComment.authorUname %> :</h4>
                <%= oneComment.content %>
              </p>
            </li>
            <% }); %>
        </ul>
