<div class="post-list-title">
  <h2 class="col-sm-12 col-md-6"> Kumeet Posts</h2>
</div>

    <div class="row martialart-posts">
      <%  listOfMartialArts.forEach((oneMartialArt) => { %>
        <div class='col-sm-12 col-md-5 col-lg-3 all-posts'>
          <h3>
            <%= oneMartialArt.name %>
          </h3>
          <h3>
            <%= oneMartialArt.title %>
          </h3>
          <img src="<%= oneMartialArt.image %>" />

          <p>
            <%= oneMartialArt.description %>
          </p>

          <p>
            <%= oneMartialArt.location %>
          </p>


          <a href="/martialarts/<%= oneMartialArt._id %>">
            View details
          </a>



          <%  if (currentUser._id.toString() === oneMartialArt.creator.toString()) { %>

            <a href="/martialarts/<%=oneMartialArt._id %>/edit">
              Edit Details
            </a>

            <%} %>



        </div>
        <% }); %>
    </div>